
/* Estilo geral*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --cor-pri:#F3F3F3
    --cor-secu:#079FD8
    --cor-ter:#5EC5F1
}

body{
    width: 100vw;
    height: 100vh;
}

.interface{
    max-width: 1500px;
    margin: 0 auto;
    background-color:#F3F3F3;
}

.flex{
    display: flex;

}

/* Estilo o cabeçalho*/
header{
    background-color: #F3F3F3;
    padding-top: 10px;     
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: black;
    text-decoration:none;
    font-size: 20px;
    display: inline-block;
    transition: 1s; 
}

header a:hover{
    color: rgb(73, 73, 73);
    transform: scale(1.05);
}


header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px ;
    
}

.btn-contato button{
    padding: 20px 70px ;
    font-size: 18px;
    font-weight: 600;
    background-color:#5EC5F1 ;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 1s;
}
.btn-contato button:hover{
    box-shadow: 0px 0px 8px #0000006b;
    transform: scale(1.05);
}

/* Estilos do topo do Site*/
section.inicio-do-site{
    padding: 162px 4%;
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(./imagens/nyc-majestic-skyscrapers-zi78yrnihnqaomm9.jpg);
    background-size: cover; /* Isso faz com que a imagem cubra toda a área do elemento */
    background-repeat: no-repeat; /* Isso evita a repetição da imagem */
    background-attachment: fixed; /* Isso faz com que a imagem fique fixa enquanto a página é rolada */
}



section.inicio-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;}

.inicio-do-site h1{
    color: #F3F3F3;
    font-size: 42px;
    font-weight: 700;
}
.inicio-do-site h1 span{
    color:#079FD8;
}
.inicio-do-site p{
    color: #F3F3F3;
    margin: 40px 0;
    font-size: 20px;
}

.interface-site{
    max-width: 1280px;
    margin: 0 auto;  
}

/* Sobre mim*/

.Sobre-site{
    background-color: #cacaca;
    width: 100vw;
    height: auto;

}

/* ESTILO DO SOBRE*/
section.Sobre-site{
    padding: 40px 4%;
}

section.Sobre-site .flex{
    align-items: center;
    gap: 6px;
}

.Sobre-site .txt-sobre{
 color:#161F30 ;
 width: 2100px;
}

.Sobre-site .txt-sobre h2{
    font-size: 45px;
    line-height: 40px;
    margin-bottom: 30px;
}

.Sobre-site .txt-sobre h2 span{
    color: #0260f7de;
    display: block;
}

.Sobre-site .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
    font-size: 25px;
}
.img-sobre{
    padding: 40px 10%;
    width: 2100px; 
}

.img-sobre ul{
    align-items: center;
}
 .img-sobre ul li{
    display: inline-block;
    margin-bottom: 20px;
    background-color: gray;
    padding: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

 }

.img-sobre ul li a {
    color: black;
    text-decoration:none;
    font-size: 30px;
    display: inline-block;
    transition: 1s; 
}

/*Localidade dos Imoveis*/

.locais-imoveis{
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(./imagens/Tijuca_RJ.jpg);
    background-size: cover; /* Isso faz com que a imagem cubra toda a área do elemento */
    background-repeat: no-repeat; /* Isso evita a repetição da imagem */
    background-attachment: fixed; /* Isso faz com que a imagem fique fixa enquanto a página é rolada */
height: auto;
width: auto;
}

.conteudo-imoveis{
    padding: 60px 2%;
}

.txt-inicio-do-site{
    display: flex;
    justify-content: center;
    background-color: #929292;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 30px;
    padding: 5px 0;
}

.imoveis{
    font-size: 50px;
    color: #F3F3F3;
}

.card-imoveis{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 8px;
    text-align: center;
    font-family: Helvetica, sans-serif;
}

.card {
	background-color: #f2f2f2;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 20px;
	margin: 20px;
	width: 490px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.card h2 {
    font-family: helvetica;
	font-size: 24px;
	margin-bottom: 10px;
}

.card p {
    font-family: helvetica;
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 20px;
}

.card img {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}
.card button{
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
    background-color: blue;
    color: white;
}

.texto-final{
    padding-top: 30px;
   font-size: 40px;
   color: #5EC5F1; 
}

footer{
    background-color: #161F30;
}

.rodape-cont{
    display: flex;
    justify-content: center;
}

.texto-de-contato{
    margin-top: 30px;
    background-color: #3585fd;
    padding: 10px 50px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
}

.contatos{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}

i{
    color: #f2f2f2;
}

.btn-footer{
    width: 60px;
    height: 60px;
    padding-left: 14px;
    margin: 20px 20px;
    display: inline-block;
    line-height: 60px;
    font-size: 2em;
    border-radius: 50%;  
}
.btn-footer.youtube{
    background-image: linear-gradient(to right,#d40101,#ff2727,#fb0404);
}
.btn-footer.insta{
    background-image: linear-gradient(to right,#E4405F,#F56040); 
}
.btn-footer.facebook{
    background-image: linear-gradient(to right,#1877f2,#1664df,#1950b4);
}
.btn-footer.whatsapp{
    background-image: linear-gradient(to right,#0add2e,#01b820,#05901d);
}
html {
    scroll-behavior: smooth;
}


